*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: #f1f3f6;
  font-family: Arial, sans-serif;
  scrollbar-width: none;
}
html,body{
    overflow-x: hidden;
}

.container{
    height: 100vh;
    max-width: 1380px;

}
.grid{
    display: grid;
    align-items: center;
    /* background-color: blue; */
}
.grid-three--cols{
    grid-template-columns: repeat(3,minmax(300px,1fr));
    
}
.navbar {
  background-color: #2874f0; /* Flipkart blue */
padding: auto 2px;
}
.navbar .logo img {
  width: 140px;
  height: auto;
}
.navbar a{
    color: white;
    font-weight: 600;
    font-size: 1.35rem;
}
.navbar input {
  width: 400px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding-left: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.navbar input:focus-visible {
  outline: 2px solid #ff9f00;
  border-color: #ff9f00;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}
.about-section>ul{
    padding: 0 7px;
    display: flex;
    flex-direction: row;
    gap:40px;
}
.login-item{
    position: relative;
}

.user-info ul{

    display: grid;
    gap: 5px;
}
.login-dropdown a{
    color: #212121;  
    font-size: 0.95rem;
    text-align: left;

}
.login-dropdown{
    background-color: #f1f3f6;
    /* display: none; */
    position:absolute;
    top:30;
    width: 220px;
    left: 30;
    display: none;
     padding: 15px;
    border-radius: 6px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    .signup{
        display: flex;
        gap: 25px;
    }
    .signup button{
        padding: 2.5px;
        background-color: #2874f0;
        color:white;
        border: 1px solid white;
    }
  
}
.login-item:hover .login-dropdown{
    display: block;
}

 .main-content {
  background-color: #ffffff;
  margin: 20px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.main-content .welcome-section{
    text-align: center;
    margin-bottom: 30px;
 }
.main-content .item-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.navbar logo{
    width: 25%;
    height: 40%;

}
.item-section{
    padding:20px 0;
}
.top-items{
    padding: 0;
    width: fit-content;
    height: auto;
}
.grid-four--cols{
    grid-template-columns: repeat(4,minmax(330px,1fr));
}
.top-deal--items{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
    margin: 16px 0;
}
.top-deals{
    padding: 10px;
     gap: 5px;
    
}
.top-deal--items h1{
    text-align: left;
    margin: 8px;
    font-size: 1.5rem;
}
.item-card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid white;

    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px; */
    
}
.item-card img{
    width: 80%;
    padding: 4px 0;
}





